<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
<div>
    <h3>Dear {{name}},</h3>
    <p>You requested for a password reset, kindly use this <a href="{{url}}"><b>link</b></a> to reset your password</p>
    <br>
    <p>Regards!</p>
</div>

</body>

</html>