<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
</head>

<body>
<div>
    <h3>Dear {{name}},</h3>
    <p>Your password has been successful reset, you can now login with your new password.</p>
    <br>
    <div>
        Regards!
    </div>
</div>

</body>

</html>